@model MvcStok.Models.Entity.TBLURUNLER

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>Urun Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="30"/>
    </div>

    <div>
        <label>Urun Markası</label>
        <input type="text" class="form-control" name="MARKA" required="" placeholder="Markayı yazınız..."/>
    </div>
    <div>
        <label>Urun Kategori</label>
       @Html.DropDownListFor(m =>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem >)ViewBag.dgr,new {@class="form-control"})
    </div>
    <div>
        <label>Urun Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Urun Stok</label>
        <input type="text" class="form-control" name="STOK" />
    </div>



    <div style="margin-top:15px">
        <button class="btn btn-info">Urun Ekle</button>
    </div>


</form>

