
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Hakkımda</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımda</h2>
                <form>
                    <div class="modal-body">
                        <label>
                            Merhaba ben,Ömer Faruk OVALI
                        </label>
                        <br />
                        <label>
                            Murat Yücedağ'ın,Youtube'ta bulunan kanalında ücretsiz yayınladığı 50 derste mvc  serisindeki 45.videoya kadarki bolumunde yaptıklarımın bir özeti olarak bu bilgileri kaydediyorum
                        </label>
                        <br />
                        <br />
                        <label>Tarih: 20.10.2023 CUMHURİYETİMİZİN 100. YILI KUTLU OLSUN</label>
                    </div>
                       

                </form>
            </div>
        </div>
    </div>

</div>

